.flex-center-screen-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.flex-center-screen-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

.flex-center-screen-item-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-center-screen-item-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.break {
    flex-basis: 100%;
    height: 0;
  }